[submodule "QuoteGenerationSample/SGXDataCenterAttestationPrimitives"]
	path = QuoteGenerationSample/SGXDataCenterAttestationPrimitives
	url = https://github.com/intel/SGXDataCenterAttestationPrimitives.git
